.Rproj.user
.Rhistory
.RData
.Ruserdata
1 Data cleaning/Cleaned files/.GCI.csv
1 Data cleaning/Cleaned files/.IPD.csv
GovData360.csv
2 Add descriptions to indicators/GovData360.csv
3 Re-Rank/GovData360.csv
4 Fix/GovData360.csv